body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background: #360033;
  background: -webkit-linear-gradient(to right, #0b8793, #360033);
  background: linear-gradient(to right, #0b8793, #360033);



}

.navbar {
  border-top: solid white 1px;
  border-bottom: solid white 1px;
}

span.navbar-brand {
  font-size: 2em;
  letter-spacing: 0.2em;
  border-right: solid white 1px;
  margin-right: 1em;
}

/*Home Page*/

div.search {
  border: solid 3px #74d4dd;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px #74d4dd;
  margin-bottom: 2em;
}


.mainHeader {
  margin-top: 0.7em;
  color: #74d4dd;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

.search {
  margin-top: 20px;
  margin-bottom: 20px;
}


.spinner {
  margin-left: 45%;
  margin-top: 20%;
}


.gameInfo-detail{
  padding: 5px;
  border: solid 1px #74d4dd;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
}

div.card {
  margin-bottom: 30px;
  box-shadow: 0px 10px 16px 5px black;
  transition: all 0.2s;
  padding: 20px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0px 3px 16px #74d4dd;
  ;
}

.card-title {
  font-size: 1.5em;
  text-align: center;
  color: #ffffff;
}

.card .btn-primary {
  background-color: #74d4dd;
  border: solid 1px #74d4dd;
  color: #073438;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  box-shadow: 0px 5px 10px 1px black;
  
}

.card .btn-primary:hover {
  background-color: transparent;
  border: solid 1px #74d4dd;
  box-shadow: 0px 5px 10px 1px #74d4dd;
  ;
}


.card img {
  max-height: 180px;
  border: solid 1px #74d4dd;

}



/*Contact*/
div .jumbotron {
  margin-top: 40px;
  border-radius: 60px;
  background-color: rgb(32, 32, 32);
  color: white;
}

form {
  font-size: 1.2em;
}

form .btn-primary {
  width: 20%;
  background-color: rgb(75, 21, 126);
  border: none;
}