body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Home Page*/

.spinner {
  margin-left: 45%;
  margin-top: 20%;
}

.gameInfo {
  display: inline-flex;
  margin: auto; 
}

.gameInfo-detail{
  padding: 5px;
  background-color: rgb(91, 185, 192);
  margin: 10px;
  border-radius: 10px;
}

.card {
  margin-bottom: 30px;
  box-shadow: 0px 3px 16px #ccc;
  transition: all 0.4s;
  padding: 20px;
  height: 500px;
}

.card:hover {
  box-shadow: 0px 3px 16px blueviolet;
}

.card-title {
  font-size: 1,2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.card .btn-primary {
  background-color: blueviolet;
  border: none;
  margin: auto;
  margin-top: 10px;
}



/*Contact*/
div .jumbotron {
  margin-top: 40px;
  border-radius: 60px;
  background-color: rgb(32, 32, 32);
  color: white;
}

form {
  font-size: 1.2em;
}

form .btn-primary {
  width: 20%;
  background-color: blueviolet;
  border: none;
}