body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  /*background: #360033;
  background: -webkit-linear-gradient(to right, #0b8793, #360033);
  background: linear-gradient(to right, #0b8793, #360033);

  */
  background: #3a6186;
  background: -webkit-linear-gradient(to top, #89253e, #3a6186);
  background: linear-gradient(to top, #89253e, #3a6186);
}


.navbar {
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

footer {
  text-align: center;
  padding: 4em;
  color: #f17c99;
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  
}

.footerLink {
  color: #f17c99;
  text-decoration: underline;
}

.footerLink:hover {
  color: #ffffff;
  text-decoration: none;
}


span.navbar-brand {
  font-size: 2em;
  letter-spacing: 0.2em;
  border-right: solid white 1px;
  margin-right: 1em;
}

.detailBox {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
}


/*Home Page*/

div.search {
  border: solid 3px #74d4dd;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px #74d4dd;
  margin-bottom: 2em;
}


.mainHeader {
  margin-top: 0.7em;
  color: #74d4dd;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

.subHeader {
  margin-top: 0.7em;
  color: #74d4dd;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.8em;
}

.search {
  margin-top: 20px;
  margin-bottom: 20px;
}


.spinner {
  margin-left: 45%;
  margin-top: 20%;
}


.gameInfo-detail{
  padding: 5px;
  border: solid 1px #74d4dd;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
}

div.card {
  margin-bottom: 30px;
  box-shadow: 0px 10px 16px 5px black;
  transition: all 0.2s;
  padding: 20px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0px 3px 16px #74d4dd;
  ;
}

.card-title {
  font-size: 1.5em;
  text-align: center;
  color: #ffffff;
}

.card .btn-primary {
  background-color: #74d4dd;
  border: solid 1px #74d4dd;
  color: #073438;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  box-shadow: 0px 5px 10px 1px black;
  
}

.card .btn-primary:hover {
  background-color: transparent;
  border: solid 1px #74d4dd;
  box-shadow: 0px 5px 10px 1px #74d4dd;
}

.card .btn-primary:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border: solid 1px #74d4dd;
  box-shadow: 0px 5px 10px 1px black;
}


.card img {
  max-height: 180px;
  border: solid 1px #74d4dd;

}

/*Game Details*/


.detail-image {
  margin-top: 2em;
}
.detail-image img {
  max-width: 100%;
  box-shadow: 0px 5px 10px 1px black;
  border: solid 1px #74d4dd;
}

.gameDesc p {
  color: #f1f1f1;
  
}


.detailBox .btn-primary {
  background-color: #74d4dd;
  border: solid 1px #74d4dd;
  color: #073438;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  box-shadow: 0px 5px 10px 1px black;

}

.detailBox .btn-primary:hover {
  background-color: transparent;
  border: solid 1px #74d4dd;
  box-shadow: 0px 5px 10px 1px #74d4dd;
}

.detailBox .btn-primary:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border: solid 1px #74d4dd;
  box-shadow: 0px 5px 10px 1px black;
}




/*Contact*/
.formBox {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
  padding: 2em;
  margin-top: 2em;
  color: #ffffff;
  margin-bottom: 5em;
}




.errorMessage {
  color: #f84c77;
  text-align: center;
  letter-spacing: 0.2em;
  border-bottom: solid 1px #f84c77;
  margin-top: 0.2em;
}