//-------COLORS USED ---------------//
$gradientRed: #89253e;
$brightPink: #f17c99;
$deepPink: #f84c77;
$gradientBlue: #3a6186;
$babyBlue: #74d4dd;
$teal: #073438;


$thinBorderWhite: solid 1px white;
$thinBorderBlue: solid 1px $babyBlue;